<div class="container-fluid">
  <div mat-row class="comment-form">
    <form [formGroup]="commentForm">
      <input matInput required class="comment-input" formControlName="content" name="content" type="text" placeholder="Комментарий">
      <button (click)="createComment()" class="btn btn-info btn-block submit" type="submit">Сохранить</button>
    </form>
  </div>
  <div class="container-fluid comments" *ngFor="let comment of commentsWithUsers">
    <div class="border">
      <div mat-header-row>
        <span><strong>{{comment.name}}</strong></span>
        <span> - </span>
        <span>{{comment.dateStr}}</span>
      </div>
      <div class="content">
        <p>{{comment.content}}</p>
      </div>
    </div>
  </div>
</div>
