.submit {
  margin-top: 10px;
  width: fit-content;
}

.comment-form {
  padding: 10px;
  border: 1px solid silver;
  border-radius: 10px;
}

.comment-input {
  padding: 5px;
  width: 100%;
  outline: none;
  border: none;
}

.comment-input:focus {
  outline: none;
}
