<div class="container row">
  <div class="col">
    <h1 mat-dialog-title>New Board</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input  required matInput [(ngModel)]="data.title">
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="data.description">
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Board Type</mat-label>
          <mat-select [(ngModel)]="data.bordType" required>
            <mat-option  *ngFor="let bordType of data.bordTypes" [value]="bordType" >
              {{bordType}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <br/>
    </div>
    <div mat-dialog-actions>
      <button [disabled]="!validate()" class="btn btn-primary" [mat-dialog-close]="data" cdkFocusInitial>Create</button>
      <button class="btn btn-primary" (click)="onNoClick()">No Thanks</button>
    </div>
  </div>
</div>

