<div class="card"  style="width: 100%;">
  <div class="card-header header-large">
    Boards
  </div>
  <div class="card-body">
    <div *ngFor="let item of this.boards" class="card board" style="width: 30%; height:350px">
      <a [routerLink]="['/board/'+ item.id]" routerLinkActive="router-link-active" class="display-6">
        <div class="img-board">
          <img class="card-img-top" [src]="item.pictureUrl" alt="Card image cap" />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">
            {{item.description}}
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
