.board{
  float:left;
  margin:20px;
}

h4, h5, p, button{
  text-align: center;
}

a {
  text-decoration: none;
  color:black;
}

a:hover { text-decoration: none;color:black; }

h4 {
  font-size: 30px;
}

.header-large{
  font-size:30px;
}


