
<div *ngFor="let item of this.bords" class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://vignette.wikia.nocookie.net/anti-screamers/images/1/13/%D0%9F%D0%B0%D0%BF%D0%B8%D1%87_%D0%B8_%D1%82%D0%B2%D0%B8%D0%BA%D1%81_%D0%BF%D1%80%D0%B8%D0%BA%D0%BE%D0%BB_%D0%BD%D0%B0_7_%D1%81%D0%B5%D0%BA%D1%83%D0%BD%D0%B4%D0%B5.png/revision/latest/scale-to-width-down/340?cb=20200105192049&path-prefix=ru" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">
      {{item.description}}
    </p>
    <a href="/boards/" class="btn btn-primary">View</a>
  </div>
</div>
