.menu-container {
  width: 20%;
  height: 60%;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 150px;
  z-index: 2;
  background-color: white;
  border: 1px solid silver;
  border-radius: 5px;
}

.menu-header {
  width: 100%;
  height: 50px;
}

.picture-container {
  width: 40%;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  float: left;
}

.picture-container img {
  width: 100%;
  height: 100%;
}

.list-container {
  width: 95%;
  margin-left: 2%;
}

.mark-container {
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
  padding-left: 5px;
  border-radius: 5px;
  color: white;
}

.mark-container:hover {
  opacity: 50%;
  cursor: pointer;
}

.card-img {
  opacity: 1;
}

.picture-container:hover .card-img {
  opacity: 0.7;
  cursor: pointer;
}

.menu-title {
  width: 80%;
  height: 100%;
  float: left;
}

.mat-button {
  width: 100%;
  text-align: left;
  border-radius: 5px;
}

.matInput {
  width: 86%;
  margin-left: 7%;
  padding: 5px;
}

.close{
  width: 10%;
  float: left;
}

.info-field {
  width:100%;
  margin-top: 5px;
  text-align: center;
  float: left;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}
