<div class="custom-list" [ngStyle]="backgroundImage">
  <app-nav-bar></app-nav-bar>
  <div *ngIf="boardModel" class="menu-row-container">
    <div class="menu-item-container">
      <div class="menu-item title">
        {{boardModel.title}}
      </div>

      <div class="menu-item custom-button">
        {{boardModel.boardType}}
      </div>

      <div class="menu-item custom-button" placement="bottom" [ngbPopover]="generateAccessRef">
        Пригласить
      </div>

    </div>
    <div *ngIf="boardModel" class="menu-item-container">
      <div class="menu-item custom-button" (click)="showMenu()">
        <div class="inline">
          Меню
        </div>
      </div>
    </div>
  </div>
  <app-board-menu *ngIf="boardModel" [menuVisible]="menuVisible" (picChanged) = "picChanged($event)" (isClosed)="isClosed($event)"></app-board-menu>

  <div
    *ngIf="boardModel"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="boardModel.columns"
    class="board-row-container"
    (cdkDropListDropped)="drop($event)">
    <div class="column-box-outside" *ngFor="let column of boardModel.columns ; let i = index" cdkDrag>
      <img [src]="pickerStyle" class="picker" cdkDragHandle>
      <app-column-on-board (addTaskEvent)="addTask($event)" (taskMovedEvent)="taskMoved($event)" (deleteEvent)="deleteColumn($event)" class="column-box-inside" [columnModel]="column"></app-column-on-board>
    </div>
    <div class="column-add-column" (click)="addColumn()">
      <span>Добавить колонку</span>
    </div>

  </div>
</div>

