
<div class="container">
  <div class="login-container">
    <div id="output"></div>
    <div class="avatar"></div>
    <div class="form-box">
      <form [formGroup]="regForm" class="example-form">
        <h3>Register in Not Trello</h3>
        <input matInput placeholder="name" formControlName="name">
        <input matInput placeholder="family" formControlName="family">
        <input required matInput placeholder="login" formControlName="login">
        <input required matInput placeholder="password" formControlName="password">
        <input required matInput placeholder="nickname" formControlName="nickname">
        <input required matInput placeholder="email" formControlName="email">
        <button [disabled]="!regForm.valid" (click)="submit()" class="btn btn-info btn-block login"
          type="submit">Register</button>
        <button (click)="goToLogIn()" class="btn btn-info btn-block login">Go to log in</button>
      </form>
    </div>
  </div>
</div>
