<div class="wrapper">
  <mat-card class="reg-card">
  <form [formGroup]="regForm" class="example-form">
    <mat-card-content>
      <h3>Registration of new user</h3>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Family</mat-label>
        <input matInput placeholder="family" formControlName="family">
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input required matInput placeholder="Login" formControlName="login">
        <mat-error *ngIf="hasError('login', 'required')">Login is required</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input required matInput placeholder="password" formControlName="password">
        <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Nickname</mat-label>
        <input required matInput placeholder="nickname" formControlName="nickname">
        <mat-error *ngIf="hasError('nickname', 'required')">Nickname is required</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input required matInput placeholder="email" formControlName="email">
        <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
      </mat-form-field>
      <br />
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!regForm.valid" (click)="submit()" mat-button color="primary">Register</button>
    </mat-card-actions>
  </form>
  </mat-card>
</div>


