
<div class="container">
  <div class="login-container">
    <div id="output"></div>
    <div class="avatar"></div>
    <div class="form-box">
      <form [formGroup]="regForm" class="example-form">
        <h3>Регистрация в Not Trello</h3>
        <input matInput placeholder="name" formControlName="имя">
        <input matInput placeholder="family" formControlName="фамилия">
        <input required matInput placeholder="login" formControlName="логин">
        <input required matInput placeholder="password" formControlName="пароль">
        <input required matInput placeholder="nickname" formControlName="никнейм">
        <input required matInput placeholder="email" formControlName="email">
        <button [disabled]="!regForm.valid" (click)="submit()" class="btn btn-info btn-block login"
          type="submit">Зарегистрироваться</button>
        <button (click)="goToLogIn()" class="btn btn-info btn-block login">Вход в систему</button>
      </form>
    </div>
  </div>
</div>
