<router-outlet></router-outlet>

<!--<footer>-->
<!--  <div class="mt-5 pt-5 pb-5 footer">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-5 col-xs-12 about-company">-->
<!--          <h2>Not Trello by RetardSoftware</h2>-->
<!--          <p class="pr-5 text-white-50">Description about shitcode project</p>-->
<!--          <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i-->
<!--                class="fa fa-linkedin-square"></i></a></p>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-xs-12 links">-->
<!--          <h4 class="mt-lg-0 mt-sm-3">Links</h4>-->
<!--          <ul class="m-0 p-0">-->
<!--            <li>- <a href="https://vk.com/id181738929">Vova developer</a></li>-->
<!--            <li>- <a href="https://vk.com/id69210124">Yan developer</a></li>-->
<!--            <li>- <a href="https://vk.com/the_notorious13">Maxim developer</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-xs-12 location">-->
<!--          <h4 class="mt-lg-0 mt-sm-4">Location</h4>-->
<!--          <p>Yakuba Kolasa 28, Minsk</p>-->

<!--          <p><i class="fa fa-envelope-o mr-3"></i><a href="https://github.com/Xemka1309/NotTrello">Github repo</a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->


