<div class="container">
  <div class="login-container">
    <div id="output"></div>
    <div class="avatar"></div>
    <div class="form-box">
      <form [formGroup]="logInForm" action="" method="">
        <h3>Авторизация в Not Trello</h3>
        <input required formControlName="login" name="user" type="text" placeholder="имя пользователя">
        <input required formControlName="password" type="password" placeholder="пароль">
        <button [disabled]="!logInForm.valid" (click)="logIn()" class="btn btn-info btn-block login" type="submit">Войти</button>
        <button (click)="goToRegistration()" class="btn btn-info btn-block login">Регистрация</button>
      </form>
    </div>
  </div>
</div>
