<mat-dialog-content>
  <div class="task-details-container card">
    <div contentEditable="true" class="task-details-header cp-1 card-header" contentEditableModel (contentEditableModelChange)="changeTitle($event)">
      <div class="custom-inline-block">
        {{taskTitle}}
      </div>
    </div>
    <div class="task-details-body cp-1 card-body">

      <div class="task-details-content ">
        <div class="task-details-sub-header">
          Описание
        </div>

        <div class="custom-inline-block">
          <div contentEditable="true" class="custom-inline-block" contentEditableModel (contentEditableModelChange)="changeDescription($event)">
            {{taskDescription}}
          </div>
        </div>

        <div class="task-details-sub-header">
          Комментарии
        </div>
      </div>

      <div class="task-details-buttons">
        <div class="task-details-button">
          <span>Участники</span>
        </div>
        <div class="task-details-button">
          <span>Изменить приоритет</span>
        </div>
        <div class="task-details-button" (click)="changeMarkPicker()">
          <span>Изменить метки</span>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>


<div *ngIf="popoverActive" class="custom-fixed-container" [style.left]="data.pos">
  <div class="custom-fixed-container-inside" [ngSwitch]="popoverState">
    <app-mark-picker *ngSwitchCase="markPicker" (clickMark)="changeMark($event)" [marks]="data.marks" [selectedMarks]="[]"></app-mark-picker>
  </div>
</div>



