<mat-dialog-content>
  <div class="task-details-container card">
    <div contentEditable="true" class="task-details-header cp-1 card-header">
      <div class="custom-inline-block">
        {{data.title}}
      </div>
    </div>
    <div class="task-details-body cp-1 card-body">

      <div class="task-details-content ">
        <div class="task-details-sub-header">
          Описание
          <div *ngIf="data.description">Изменить</div>
        </div>

        <div *ngIf="data.description;else descr">
          <div contentEditable="true" class="custom-inline-block">
            {{data.description}}
          </div>
        </div>

        <div class="task-details-sub-header">
          Комментарии
        </div>
      </div>

      <div class="task-details-buttons">
        <div class="task-details-button">
          <span>Участники</span>
        </div>
        <div class="task-details-button">
          <span>Изменить приоритет</span>
        </div>
        <div class="task-details-button">
          <span>Изменить метку</span>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<ng-template #descr>
 <div contentEditableModel class="empty-description-div">
   <div class="custom-inline-block cp-1">
     Добавить более подробное описание...
   </div>
 </div>
</ng-template>


