.task-details-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.task-details-header {
  display: flex;
  width: 100%;
  font-size: 1.25em;
}

.task-details-body {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.task-details-content {
  display: flex;
  flex-direction: column;
  flex: 4 1 80%;
}

.task-details-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 4 20%;
}
.task-details-button span {
  text-align: center;
  width: 100%;
}

.task-details-button {
  display: flex;
  margin-top: 5px;
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgba(9,30,66,.04);
  margin-left: 5%;
  width: 95%;
  font-size: 0.75em;
}

.task-details-button:hover {
  opacity: 0.6;
  background-color: #cccccc;
  border-radius: 10px;
}

.custom-inline-block {
  display: inline-block;
  width: 100%;
  font-size: inherit;
}

.task-details-sub-header {
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: flex-start;
}

.task-details-change-button {
  display: flex;
  background-color: rgba(9,30,66,.04);
  margin-left: 15px;
  cursor: pointer;
  font-size: 0.75em;
  text-align: center;
  vertical-align: middle;
}

.cp-1 {
  padding: 5px 10px;
}

.empty-description-div {
  min-height: 4em;
  background-color: rgba(9,30,66,.04);
  cursor: pointer;
  width: 100%;
  font-size: 0.75em;
}
