<mat-dialog-content>
  <div class="task-details-container">
    <div contentEditable="true" class="task-details-header">
      <div class="custom-inline-block">
        {{data.title}}
      </div>
    </div>
    <div class="task-details-body">

      <div class="task-details-content">
        suka
      </div>

      <div class="task-details-buttons">
        <div class="task-details-button">
          <span>Участники</span>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>


