<div class="creator-container" [style.visibility]="visible">
  <div class="header">
    <div class="title">
      <p>Create mark</p>
    </div>
    <button class="close" (click)="hideCreator(true)">X</button>
  </div>
  <form>

  </form>
  <div class="color-container">
    <div class="color" *ngFor="let color of colorList1" [style.background-color]="color"></div>
  </div>
  <div class="color-container">
    <div class="color" *ngFor="let color of colorList2" [style.background-color]="color"></div>
  </div>
</div>
