@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.button-task-details {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  display: block;
  padding: 0.25em;
  cursor: pointer;
  height: 1.75em;
  width: 1.75em;
}

.priority {
  top: 0;
  right: 0;
  display: inline-block;
  padding: 0.25em;
  padding-right: 0.5em;
  cursor: pointer;
  height: 1.75em;
  width: 1.75em;
}

.button-task-details:hover {
  background-color: #f8f9fa;
  opacity: .8;
}

.container-task-simple {
  position: relative;
  width: inherit;
}

.mark-item{
  display: inline-block;
  border-width: 0.1em;
  border-style: solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.mark-text{
  color:white;
}

.priority-text{
  padding-top: 10px;
  font-size: 15px;
  font-family: 'PT Mono', monospace;
}

.task-header{
  font-family: 'Roboto Condensed', sans-serif;
}

.p1{
  color: crimson;
}

.p2{
  color:darkred;
}

.p3{
  color: orange;
}

.p4{
  color: yellow;
}

.p5{
  color: yellowgreen;
}
