.priority-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-width: 100px;
  flex-basis: fit-content;
}

.priority-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  margin: 0 5px;
  padding: 5px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  height: fit-content;
  min-height: 30px;
}

.priority-list-item:hover {
  background-color: #aaaaaa;
}

.priority-header {
  display: flex;
  border-bottom: 1px silver solid;
  width: 100%;
  font-size: 1.5em;
}

.priority-popup-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.p1 {
  color: crimson;
}

.p2 {
  color:darkred;
}

.p3 {
  color: orange;
}

.p4 {
  color: yellow;
}

.p5 {
  color: yellowgreen;
}

.priority {
  display: inline-block;
  padding: 0.25em 0.5em 0.25em 0.25em;
  cursor: pointer;
  height: 1.75em;
  width: 1.75em;
}

span {
  text-align: center;
  width: 100%;
}
